%h3= t 'sessions.title'
%p.muted-hint= t('sessions.explanation', title: site_title)
=======
%p.muted-hint
  = t 'sessions.explanation'
  = link_to t('sessions.view_authentication_history'), settings_login_activities_path
